<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<script src="/lib/vendor.js"></script>
	
	<script src="/lib/ember.js"></script>
	<script src="/app/templates.js"></script>


    
</head>
<body>
        @RenderBody()  
</body>
</html>