<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/site.min.css" />
	<script src="/lib/vendor.js?v=2"></script>
	<script src="/app/templates.js?v=2"></script>


    
</head>
<body>
        @RenderBody()  
</body>
</html>